absl-py==0.12.0
appdirs==1.4.4
attrs==21.2.0
click==8.0.1
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mediapipe==0.8.4.2
numpy==1.20.3
opencv-contrib-python==4.5.2.52
opencv-python==4.5.2.52
protobuf==3.17.1
python-dotenv==0.17.1
six==1.16.0
SQLAlchemy==1.4.17
virtualenv==20.4.7
Werkzeug==2.0.1
opencv-contrib-python-headless